@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

:root {
  --main-text-color: #353535;
  --main-background-color: #fafafa;
  --border-color: #bdbdbd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
  color: var(--main-text-color);
}


html,
body {
  background-color: var(--main-background-color);
  height: 100vh;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

.btn {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  color: #388e3c;
  text-decoration: underline;
  border: none;
  margin: 5px 0;
}

.btn:hover {
  color: #1b5e20;
}

header img {
  width: 120px;
}

/* Navbar links */
.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}

.navigation-link {
  display: flex;
}

.navigation-link li {
  list-style: none;
  margin-left: 2rem;
}

.characters-link,
.quotes-link {
  color: var(--main-text-color);
  font-weight: 700;
}

.search {
  height: 100px;
}

/* Search input */
input[type='text'] {
  display: block;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  width: 60%;
  margin: auto;
  outline: none;
}

input::placeholder {
  font-weight: 300;
  color: var(--border-color);
}

/* Character cards */
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.card {
  background-color: transparent;
  height: 300px;
  perspective: 1000px;
}

.card h1 {
  font-size: 25px;
  font-weight: 900;
  border-bottom: 1px var(--border-color) solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.card strong {
  font-weight: 900;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  border: 1px solid #bdbdbd;
  padding: 20px;
  transform: rotateY(180deg);
}

.card li {
  list-style: none;
  padding-bottom: 10px;
}

@media (max-width: 800px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

/* Quotes */

.quotes {
  margin: 2rem;
}

.quote {
  margin-bottom: 1rem;
}

.quote-author {
  margin-right: 10px;
}

/* MoreInfo */
.more-info {
  display: flex;
}

/* CharacterInfo */
.character-container {
 max-width: 350px;
 background-color: #f5f5f5;
}

.character-image {
  max-width: 350px;
}

.character-info {
  padding: 1rem;
  line-height: 2;
}

.character-info ul {
  list-style: none;
}